{% extends 'navbar.html' %}

{% block title_block %}@{{ title }}{% endblock %}

{% block css_block %}
    <style>
        .crop{
            width: 200px;
            height: 200px;
            overflow: hidden;
        }

        .crop img{
            width: 400px;
            height: 400px;
            margin: -75px 0 0 -100px;
        }
    </style>
{% endblock %}

{% block body_block %}
<div class="row">
    <div class="col-sm-4">
        {% if user_other.user_profile.profile_pic %}
        <img class="rounded-circle" src="/media/{{ user_other.user_profile.profile_pic }}" alt="" width="250px">
        {% else %}
        <img class="rounded-circle" src="/media/avatar.jpg" alt="" width="250px">
        {% endif %}
    </div>
    <div class="col-sm-8">
        <h3>{{ user_other.username }} &nbsp;
            {% if not already_followed %} 
            <a class="btn btn-primary" href="{% url 'Login_App:follow' username=user_other.username %}">Follow</a>
            {% else %}
            <a class="btn btn-primary" href="{% url 'Login_App:unfollow' username=user_other.username %}">Unfollow</a>
            {% endif %}
            &nbsp; 
        </h3>
        <br>
        <h4>{{ user_other.post.count }} posts &nbsp; &nbsp; {{ user_other.following.count }} followers &nbsp; &nbsp; {{ user_other.follower.count }} following</h4>
        <br>
        <h4>{{ user_other.user_profile.full_name }}</h4>
        <h6>{{ user_other.user_profile.description|linebreaks }}</h6>
        <hr>
        <!-- Button trigger modal -->
    </div>
</div>
<br>
<br>
<div class="row">
    {% for post in user_other.post.all %}
    <div class="crop">
        <img src="/media/{{ post.post_image }}" alt="" title="{{ post.caption }}">
    </div>
    {% endfor %}
</div>
{% endblock %}