{% extends 'navbar.html' %}

{% block title_block %}{{ title }}{% endblock %}

{% block body_block %}
    <h1>Homepage</h1>
    {% if search %}
        {% for user in result %}
            <div class="row">
                <div class="col-sm-2">
                    {% if user.user_profile.profile_pic %}
                    <img src="/media/{{ user.user_profile.profile_pic }}" width="50px" alt="">
                    {% else %}
                    <img src="/media/avatar.jpg" width="50px" alt="">
                    {% endif %}
                </div>
                <div class="col-sm-10">
                    <a href="{% url 'Login_App:user' username=user.username %}"><h5>{{ user.username }}</h5></a>
                    <h4>{{ user.user_profile.full_name }}</h4>
                </div>
            </div>
            <br>
        {% endfor %}
    {% else %}
        {% for author in following_list %}
            {% for post in author.following.post.all %}
                <div class="row">
                    <div class="">
                        <h4>{{ post.author }}</h4>
                        <br>
                        <img src="/media/{{ post.post_image }}" width='50%' alt="">
            {% endfor %}
                    </div>
                </div>
        {% endfor %}
    {% endif %}
{% endblock %}